.site-title {
  color: rgb(255, 141, 179);
}
.site-list {
  color: rgb(255, 145, 182);
}
.DrinkName {
  color: rgba(255, 169, 132, 0.904);
}
.Instructions {
  color: rgb(255, 255, 255);
}
.Ingredient {
  color: rgb(254, 210, 130);
}
.AppName {
  color: rgb(152, 57, 240);
  background-color: rgb(255, 43, 85);
  text-decoration: underline;
  text-align: center;
}
.SecondTitle {
  color: rgb(255, 188, 235);
  text-align: center;
}
.RandomizerTitle {
  color: rgb(254, 210, 130);
  text-decoration: underline;
  text-align: center;
}
.ListOfM {
  color: rgb(255, 143, 181);
  text-decoration: underline;
  text-align: center;
}
.TH-Name {
  color: rgba(255, 169, 132, 0.904);
  font-size: large;
}
.TH-Cata {
  color: rgba(255, 169, 132, 0.904);
  font-size: large;
}
.TH-ALC {
  color: rgba(255, 169, 132, 0.904);
  font-size: large;
}
.TH-IN {
  color: rgba(255, 169, 132, 0.904);
  font-size: large;
}
.NameDrink {
  color: rgb(88, 79, 255);
  font-size: large;
  text-align: left;
}
.CataDrink {
  color: rgb(88, 79, 255);
  font-size: large;
}
.ALCDrink {
  color: rgb(88, 79, 255);
  font-size: large;
}
.INSDrink {
  color: rgb(255, 255, 255);
  font-size: small;
  text-align: right;
}
.tableThread {
  table-layout: auto;
  font-size: 0%;
}
:root {
  background-image: -webkit-image-set(
    "https://www.makeneonsign.com/cdn/shop/products/Cocktailneonsign_626x.jpg?v=1621324280"
  );
}
